*{margin: 0%;border: 1px solid none	;
  font-family: inter ,sans-serif;}
.nav{
	display: flex;
	align-items: center;
	border: 1px solid none;
	margin: 0% 3%;
	padding:1.5% 1%;
}
.nav img{vertical-align: middle;}
.nav a{
		padding-right: 2.5%;
		text-decoration: none;
		color: black;
		font-family: inter,sans-serif;
		font-weight: bold;
		background-color: white;
	}
.button{ border:1px solid none ;
			align-items: center;
			justify-content: flex-end;
			width: 5.4%;
			display: flex;
		   margin-left: 15%;
		   border-radius: 25px;
		   background-color: #00baf2;}
#one{padding-left: 17%;}
.img1{border: 1px solid none  ;
	margin-left: 0.2%;}
.sec_2{ text-align: center;
		align-items: center;
		border: 1px solid red;
		border-color: rgba(0, 0, 0, 0.0);
		background-color: #f6f6f6;
		font-family: inter,sans-serif;
		padding: % 0%;}
.sec_2 a{
		text-decoration: none;
		color: black;
		font-weight: bold;}
#zero{ width: 16%;
padding-bottom: 45px;}
.sec2{
		display: flex;
		justify-content:space-between;
		border: 1px solid none;
		padding: 7% 0% 5% 17%;
		font-family: inter,sans-serif;
		line-height: 25px;}
#india{
	font-weight:bold;
	 font-size: 54px;
	 line-height: 70px;
}
#recharge{font-size: 19px;
	font-weight: bold;
	line-height: 30px;}
.span1{margin-bottom: 2%;

	}

#div1{width: 30%;}
.sec3{
	border: 1px solid none;

	padding: 3% 17% 4%;
	background-color: #00baf2;
	color: white;
	font-family: Inter,sans-serif;}
#sec3_header{
	font-size: 40px;
	font-weight: bold;
margin-bottom: 2%;}
.sec3 div{
	border: 1px solid  none;
	width: 30%;
	border-radius: 15px;margin-right: 3.7%;
	padding: 1.5%;
	padding-bottom: 2%;}
.sec3 img{
	width: 70%;
	padding-bottom: 10%;}
.sec3_main{
	display: flex;
	justify-content: space-evenly;}
.sec3 span{font-weight: bold;}
.sec3 a{
	text-decoration: none;
	color: white;}
.sec3_main div:hover{
	background-color: blue;
}
/*.sec3_img1:hover{background-color: blue;}
.sec3_img2:hover{background-color: blue;}
.sec3_img3:hover{background-color: blue;}
.sec3_img4:hover{background-color: blue;}
.sec3_img5:hover{background-color: blue;}
.sec3_img6:hover{background-color: blue;}
.sec3_img7:hover{background-color: blue;}*/
.sec4{
	border: 1px solid none;

	padding: 3% 17%;
	background-color: #0f4b8a;
	color: white;
	font-family: Inter,sans-serif;}
#sec4_header{
	font-size: 40px;
	font-weight: bold;
margin-bottom: 2%;}
.sec4 div{
	border: 1px solid  none;
	width: 30%;
	border-radius: 15px;margin-right: 3.7%;
	padding: 1.5%;
	padding-bottom: 2%;}
.sec4 img{width: 70%;
		  padding-bottom: 10%;}
.sec4_main{
			display: flex;
			justify-content: space-evenly;}
.sec4 span{font-weight: bold;}
.sec4 a{text-decoration: none;
		color: white;}
.sec4 div:hover{background-color: blue;}
/*.sec4_img1:hover{background-color: blue;}
.sec4_img2:hover{background-color: blue;}
.sec4_img3:hover{background-color: blue;}
.sec4_img4:hover{background-color: blue;}
.sec4_img5:hover{background-color: blue;}
.sec4_img6:hover{background-color: blue;}
.sec4_img7:hover{background-color: blue;}*/
.abhi{
	background-color: rgba(239, 239, 239,0.6)
}
#paytmwallet{
	font-weight: bold;
	 font-size: 16px;
	  padding-top: 20px;
	   padding-left: 3%;
}
#fast1{
	font-weight: bold;
	font-size: 39px;
	line-height: 50px;

}
#loadup{margin: 3% 0%;
 line-height: 25px;
  font-family: inter,sans-serif;}
  #sec5_img{padding: 2% 0% 2% 1%;}
.sec5{border: 1px solid none;
	margin: 3% 20% 5%;font-family: inter,sans-serif;
	display: flex;
	justify-content:space-evenly;
 	padding: 3%;
 	border-radius: 10px;
 	background-color: #fff;
}
.sec5_header{font-size: 50px;
			font-weight: bold;
			margin-left:20% ;
			margin-top: 0%;
			margin-bottom: 2%;
			padding-top: 6%;
			font-family:inter,sans-serif ;}
.sec5_main *{margin-bottom: 5.4%;}
.sec5_main div{padding-left: 9%;}
.wallet{display: flex;
		justify-content: flex-start;
		padding: 10% 9% 0%;
		margin-top: 10%;}
.downloadbutton1{
				border: 1px solid black;
				width: 10%;
				text-decoration: none;
				color: white;
				background-color: black;
				padding: 3%;
				border-radius: 25px;
			    margin-left: 9%;}
.downloadbutton1:hover{background-color: white;
						color: black;}
.downloadbutton1 *{margin: 0% 1%}
.sec6{border: 1px solid none;
	margin: 3% 20% 2%;font-family: inter,sans-serif;
	display: flex;
	justify-content:space-evenly;
 	padding: 5%;
 	background-color: #fff;
 	border-radius: 10px;
}
.sec6but{margin-left: 0%;}
.sec6wallet{padding: 0% 0% 13% !important;
	margin-top: 0%;
}
#sec7text1{font-weight: bold;
					font-size: 38px;

}
#sec7text2{margin: 3% 0%; line-height: 25px;}
.sec7{border: 1px solid none;
	margin: 3% 20% 3%;
	font-family: inter,sans-serif;
	display: flex;
	justify-content:space-evenly;
 	padding: 5%;
 	background-color: #ffffff;
 border-radius: 10px;
}

.learn{
	border: 1px solid none;
	width:10%;
	background-color:blueviolet;
	color: white;
	border-radius: 25px;
	padding: 3.5%;
}
#sec71{padding: 10% 0% 5% 0%;	}

.sec8_9{
 	display: flex;
 	justify-content:space-around ;
 	padding-bottom: 5%;}

 .sec8{
 	border: 1px solid none;
 	width: 25%;
 	height: 100%;
 	padding-left: 3%;
 	background-color: #ffffff;
 	margin-left:19%;
 	border-radius: 10px;
 	}
 
 #unlimited{
 	font-weight: bold; font-size:45px
 }
 #hdfc{
 	font-weight: normal;
 	font-size: 21px;
 	margin-top: 5%;
 }
 #sec8img{
 	padding-top: 10%;
 	margin-top: 8%;
 }
.sec8 a{
	text-decoration: none;
	color: black;
}
#most{
	font-weight: bold;
	 font-size:45px
}
#sbi{
	font-weight: normal;
	font-size: 21px;
}
#sec92{
	margin-top: 10%;
	padding-top: 10%;
}
.sec9{
 	border: 1px solid none;
 	width: 25%;
 	padding-left: 3%;
 	background-color: #ffffff;
 	border: 1px solid none;
 	margin-right: 19%;
 	border-radius: 10px;


 	}

.sec9 a{
	text-decoration: none;
	color: black;
}
#sec91{
	margin-top: 11.8%;
}
#financial{
	font-weight: bold; font-size:55px;
}


.sec10{
	border: 1px solid none;
	padding-top: 5%;
		display: flex;

	justify-content: center;}
}
.main_sec10{display: flex;
	flex-direction: column;
	margin-bottom: 10% !important;


}
#sec10text1{font-weight: bold; font-size:40px;}
#sec10text2{font-weight:normal;font-size: 21px;}


#sec102{
	width: "23%" ;
	padding-top:4%;
}
.learnbutton{
	border: 1px solid none;
	width: 90%;
	padding: 2.5%;
	background-color: #0f4b8a;
	color: white;
	border-radius: 25px;
	padding: 3% 5%;
	
}
.learnbutton:hover{
	background-color: skyblue;
	color: white;
}
.sec10but{
	padding: 2% 3%;
}
.sec11but{
	padding: 4%;
}

.sec11{
	border: 1px solid none;
	background-image:url(images/sec11background.webp) ;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	display: flex;
	justify-content: center;margin-top: 5%;
	background-color: rgba(239,239, 239, 0.4);
	padding-bottom: 4.3%;
}
.sec11header{
	font-weight: bold;
	font-size: 40px;
}
.sec11text{
	font-weight: normal;
	line-height: 23px;
	font-size: 21px;

}
#sec11img{
	margin-top: 5%;
	margin-left:0%;


}
.sec11but{
	padding: 2.5% 3%;
}
.sec11main{
	margin-left: 5%;
	margin-top: 5%;
}
.sec12{
	border: 1px solid none;
	display: flex;
	justify-content: center;
	padding: 5% 0% 7%;

}
.sec12header{
	font-size: 40px;
	font-weight: bold;
}
.sec12text{
	font-weight:normal;
	line-height: 25px;
font-size: 22px}
.sec12but{
	padding: 2.5% 5%;
}
.sec13{
	border: 1px solid none;
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(211,211,211,0.3);
	padding: 3% 0% 6.4%;
}
#sec13img1{
	margin-top: 2%;
	margin-left: 10%;
}
.sec13main{
	margin-top: 3%;
}
.sec13but{
	padding: 2% 4.4%
}
.business{font-family: inter,sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin-left: 18%;
	margin-top: 5%;

}
.sec14{
	border: 1px solid none;
	width: 60%;
	margin-left: 18%;
	margin-top: 1%;
		display: flex;
	justify-content:space-between ;
	background-color: rgba(211,211,211,0.3);
	padding-bottom: 4%;


}
.sec14img{
	margin-top: 8%;
}
.sec14main{
	margin-top: 16%;
	margin-left: 10%;
	padding-top: 8%;
}
.sec15{
	border: 1px solid none;
	width: 60%;
	margin-left: 18%;
	margin-top: 3%;
		display: flex;
	justify-content:space-between ;
	background-color: rgba(211,211,211,0.3);}

.sec15main{
	margin-top: 5%;
	margin-left: 10%;
}
.textsec15{
	font-size: 20px;
}
.sec15img{
	padding-bottom: 8%;
}
.sec15head{
	margin-top: 20%;
}
.sec16{border: 1px solid none;
	height: 600px;
	width: 60%;
	margin-left: 18%;
	margin-top: 3%;
	display:flex;
	justify-content:flex-start;
	}
.business{font-size:37px;
margin-top: 10%;}
.pos{font-family: inter,sans-serif;
	font-size: 27px;
	font-weight: bold;
}
.say{
	font-family: inter,sans-serif;
	font-size: 22px;
	font-weight:normal;
}
.div1{
	border: 1px solid none;
	width: 23%;
}
#sec16img1{
	padding: 7% 0%;
}
.more{
	text-decoration:none;
	 color: black; 
	 font-size: 20px;
	 font-weight: bold;
}
.sec16 div{
	margin-right: 2%;
}
.sec17{
	border: 1px solid none;
	width: 60%;
	margin-left: 18%;
	margin-top: 10%;
	display: flex;
	justify-content: space-evenly;

}
.sec17 div{
	margin-right: 1%;
}
#sec17img{width: 80%;
margin-bottom: 20%;}

.div2{
	border: 1px solid none;
	width: 20%;

}
.earn{
	text-decoration: none;
	color: skyblue;
	font-weight: bold;
	font-size: 20px;
}
.footertag{
	text-align: center;
	color: white;
	font-family: inter,sans-serif;
	font-weight: bold;
	font-size: 18px;

}
.div3{border: 1px solid none;
	width: 14%;
	background-color:rgba(135, 206, 235, 0.8);
	border-radius: 15px;
	

}
.div3:hover{
	background-color: deepskyblue;
}
.sec18{
	margin-top: 7.7%;
}
.sec17img{
	padding: 4.5%;
}
.sec18img{
	padding: 23%;
}
.div4{
	display: flex;
	justify-content: space-evenly;
	border: ipx solid red ;
	width: 25%;
	border-radius: 5px;
	background-color: black;
	color: white;
	margin-top: 1%;
	padding-top: 2%;

}
.lastsec{
	display: flex;
	justify-content: space-evenly;
margin-right: 10%;
border: 1px solid none;
width: 70%;


}
.fa-brands{
	margin-right:2%;

}
.paytm{
	display: flex;
	justify-content: space-between;
	border: 1px solid none;
	height: 70px;
	padding: 0% 12%;
	margin-top: 10%;
	background-color:rgba(239,239,239.0.5);
}
.logos{
	border: 1px solid none;
	width: 50%;
	display:flex;
	justify-content: flex-end;
	opacity: 0.5;
	padding: 1%;
	font-size: 45px;
}
.fa-twitter,.fa-instagram,.fa-facebook{
	font-size: 24px;
}

.logos a{
	text-decoration: none;
	color:darkslategray;
	padding-right: 3%;
}
@media(max-width: 1366px){
	.nav a{
		font-size: 12px;}
	.button{width: 6.87%;}
	.text1{font-size: 8px;}
	#india{
		font-size: 39px;
		line-height: 44px;
	}
	#recharge{font-size: 13px;
		line-height:15px;
		margin-bottom: 3%;

	}
	.downloadbutton1{
		font-size: 10px;

	}
}



















